
%estiloH {
    h1 {
            font-size: 4rem;
            color: whitesmoke;
            text-align: center;
            margin-top: 70px;
        }
    
        h2 {
            color: whitesmoke;
        }
}
