// comienza edicion para el footer

footer {
    background-color: #090232;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .parrafo {
        text-align: left;
        flex-grow: 1;
    }
    .social-icons {
        text-align: right;
        flex-grow: 1;
        font-size: 40px;
        width: 30px;
    }
    .social-icons a {
        margin-right: 15px;
        color: gold;
    }
}